/* FRONTPAGE BANNERS */
.fp-banner #wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.fp-banner #wrapper #view {
   margin:0 auto;
   overflow:visible;
}

#frontpage-carousel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 545px;
    overflow: hidden;
}

#frontpage-carousel li {
    position:relative;
    width:1024px;
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
    float: left;
}

#frontpage-overlay {
    height: 456px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
#frontpage-carousel-items {
    margin: 10px auto 0 auto;
    position: relative;
    width: 1024px; 
    padding-bottom: 20px;
}
#frontpage-carousel-items .inner-carousel-items {
    text-align: right; 
    position: absolute;
    right: 0;
}
.inner-carousel-items a {
	color: #fff;
	display: block;
	float: left;
	font-size: 1px;
	margin-right: 7px;
	text-decoration: none;
	text-indent: -100000px;
	width: 9px;
	zoom:1;
}

.black-skin .inner-carousel-items a {
    color: #272324;
}

/*next button*/
.next-prev {
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

.bx-prev {
    background: url('/images/minus.png') no-repeat scroll 0 0 transparent;
    height: 55px;
    left: 15px;
    position: absolute;
    text-indent: -999999px;
    top: 190px;
    width: 55px;
    z-index: 10000;
}

.bx-next {
	position:absolute;
	top:190px;
	right:15px;
	z-index:10000;
	width: 55px;
	height: 55px;
	text-indent: -999999px;
	background: url('/images/plus.png') no-repeat;
}

.imgdot{
	background: url('/images/imgdot.png') no-repeat;
	height:16px;
	width:16px;
	padding-left;3px;
	padding-right:3px;
}

.navigator{
	position:absolute;
	top:210px;
	right:40px;
	z-index:10000;
	width: 780px;
	height: 20px;
  text-align:right;
}


